body
{
    background-color: lavender;
}
h1
{
  text-align: center;
  color: darkslategray;
}
p
{
  text-align: center;
  color: mediumpurple;
}
b
{
  color: indigo;
}
h2
{
  text-align: center;
  color: darkslategray;
}
h3
{
  text-align: center;
  color: darkslategray;
}
