h1
{
  text-align: center;
  color: darkslategray;
}
p
{
  text-align: center;
  color: darkslategray;
}
b
{
  color: purple;
}
h2
{
  text-align: center;
  color: darkslategray;
}
h3
{
  text-align: center;
  color: darkslategray;
}
